# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Environment Variables (Keep secrets safe!)
.env

# Python / Backend
__pycache__/
*.py[cod]
venv/
env/
.venv/

# ML Datasets (Optional: uncomment if you have massive CSVs you don't want to upload)
# *.csv 
# *.dat